html {
    font-size: 62.5%;
}
body {
    background-color: #f5f3f3
}
h1 {
    text-align: center;
}
h2 {
    font-size: 3rem;
}
h4 {
    /* Dejado sin cambios, ya que las estrellas son una imagen */
    font-weight: 700;
}

#logo {
    display: block; 
    width: 20rem; 
    height: auto;
    margin: 0; 
}


header {
    padding: 1.5rem 0; 
    background: linear-gradient(to right, #741d51 0%,#e44e52 100%);

}
@media (min-width: 750px) {
    header {
        text-align: left;
    }
}
.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
}
#hero {
    background-image:url(../img/hero.jpg);
    height: 350px;
    background-size: cover;
}
#encabezado {
    margin: 30px 0;
}
.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.contenido-hero {
    margin-top: 80px;
    color: white;
}
.contenido-hero form {
    position: relative;
    margin-bottom: 0;
}
.contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
}
.contenido-hero form .submit-buscador {
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border:none;
}


.barra {
    padding: 20px 0;
    background: #741d51; /* Old browsers */
    background: -moz-linear-gradient(left, #741d51 0%, #e44e52 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #741d51 0%,#e44e52 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #741d51 0%,#e44e52 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
}

.barra p {
    margin:0;
    color: white;
}
.icono {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 750px) {
    .icono {
        margin-bottom:0;
    }
}
.icono1 {
    background-image: url(../img/icono1.png);
}
.icono2 {
    background-image: url(../img/icono2.png);
}
.icono3 {
    background-image: url(../img/icono3.png);
}

#lista-cursos .row {
    /* ✅ CORRECCIÓN 1: Flexbox para igualar altura de las tarjetas */
    display: flex;
    align-items: stretch; 
    flex-wrap: wrap;
    
    margin-bottom: 20px;
}
.agregar-carrito {
    margin:10px 0;
    /* ✅ CORRECCIÓN 4: Alinea el botón al fondo */
    margin-top: auto;
}

.card {
    /* ✅ CORRECCIÓN 2: Configurar la card como contenedor Flex vertical */
    display: flex;
    flex-direction: column;
    height: 100%; 
    
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}
@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}
.info-card {
    /* ✅ CORRECCIÓN 3: Ocupa el espacio restante y distribuye el contenido */
    flex-grow: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    
    padding: 10px 20px;
}

/* ⭐️ CORRECCIÓN ESTRELLAS: Apuntamos a la imagen dentro de info-card */
.info-card img[src*="estrellas.png"] {
    width: 90px; /* Tamaño más pequeño, ajusta este valor si es necesario */
    height: auto;
    margin: 5px 0; /* Un poco de margen para separarlas */
}

.info-card p, 
.card h4 {
    margin-bottom: 5px;
}
.info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}


/*
 * ========================================
 * PIE DE PÁGINA (FOOTER FINITO y LOGO PEQUEÑO)
 * ========================================
 */
.footer {
    background: linear-gradient(to right, #741d51 0%,#e44e52 100%);
    margin-top: 4rem;
    /* HACIENDO EL FOOTER MÁS FINITO: Reducimos el padding */
    padding: 2rem 0; 
}

/* Estilos para el logo en el FOOTER */
#logo-footer {
    display: block; 
    /* El mismo tamaño fino que el logo del header */
    width: 15.8rem;  
    height: 14.8rem;
    margin: 0; 
}

/* Estilos de los enlaces del footer */
.footer .menu a{
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white; 
    font-size: 1.6rem; 
}